@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body {
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Raleway', sans-serif;
}
header{
    margin: 50px;
    padding: 20px
}

footer{
    height: 100px;
    width: 100%;
    margin-top:50px
}
footer div{
    padding-top: 40px;
}

footer div p {
    color:white;
}
i{
    text-align: center;
}
/* .pa-center{
    padding-top: 45px;
} */

